/* page background */

.assessment-page{

  min-height:100vh;

  background:#faf9f6;

  display:flex;

  align-items:center;

  justify-content:center;

  font-family:"Segoe UI",sans-serif;

}


/* main card */

.assessment-container{

  width:620px;

  background:white;

  padding:45px;

  border-radius:16px;

  box-shadow:
  0 10px 30px rgba(0,0,0,0.08);

}


/* header */

.header{

  text-align:center;

  margin-bottom:10px;

}

.icon{

  font-size:26px;

  display:block;

  margin-bottom:5px;

}


/* title */

.header h2{

  font-weight:600;

  color:#1f2937;

}


/* progress text */

.progress-text{

  text-align:center;

  font-size:14px;

  color:#6b7280;

  margin-bottom:15px;

}


/* progress bar background */

.progress-bar{

  height:6px;

  background:#e5e7eb;

  border-radius:10px;

  margin-bottom:30px;

}


/* GOLD progress fill */

.progress-fill{

  height:100%;

  background: linear-gradient(90deg,#C9A227,#A67C00);

  border-radius:10px;

}


/* question */

.question-text{

  font-size:20px;

  font-weight:600;

  color:#111827;

  margin-bottom:25px;

}


/* options */

.options-container{

  display:flex;

  flex-direction:column;

  gap:12px;

}


/* option button */

.option-btn{

  padding:14px;

  border-radius:10px;

  border:1px solid #e5e7eb;

  background:#fafafa;

  cursor:pointer;

  text-align:left;

  font-size:15px;

  transition:0.2s;

}
/* ===== SAME HEADER AS DASHBOARD ===== */

.top-header{
  width:100%;
  height:55px;
  background: linear-gradient(90deg,#C9A227,#A67C00);
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  font-weight:600;
}

.web-name{
  font-size:20px;
  letter-spacing:1px;
}

.nav-right{
  position:absolute;
  right:30px;
  display:flex;
  gap:20px;
}

.nav-right button{
  background:none;
  border:none;
  color:white;
  font-size:15px;
  cursor:pointer;
  transition:0.3s;
}

.nav-right button:hover{
  color:#38bdf8;
}

/* hover effect GOLD */

.option-btn:hover{

  border-color:#C9A227;

  background:#fff9e6;

}


/* selected GOLD */

.option-btn.selected{

  background: linear-gradient(90deg,#C9A227,#A67C00);

  color:white;

  border-color:#A67C00;

}


/* buttons */

.nav-buttons{

  display:flex;

  justify-content:space-between;

  margin-top:30px;

}


/* skip */

.skip-btn{

  background:#e5e7eb;

  border:none;

  padding:10px 20px;

  border-radius:8px;

  cursor:pointer;

}


.skip-btn:hover{

  background:#d1d5db;

}


/* GOLD next button */

.next-btn{

  background: linear-gradient(90deg,#C9A227,#A67C00);

  color:white;

  border:none;

  padding:10px 25px;

  border-radius:8px;

  cursor:pointer;

}


.next-btn:hover{

  background: linear-gradient(90deg,#b8961f,#8f6900);

}


/* responsive */

@media(max-width:700px){

  .assessment-container{

    width:90%;

    padding:30px;

  }

}