/* PAGE */

.career-detail-page{

  min-height:100vh;

  background:#f8fafc;

}



/* GOLD HEADER */

.top-banner{

  width:100%;

  padding:18px;

  text-align:center;

  font-size:20px;

  font-weight:600;

  color:white;

  background:linear-gradient(
  135deg,
  #b68d2a,
  #d4af37
  );

}



/* CENTER CONTENT */

.career-detail-container{

  width:700px;

  margin:40px auto;

  background:white;

  padding:35px;

  border-radius:12px;

  box-shadow:0 8px 25px rgba(0,0,0,0.08);

  text-align:center;

}



/* TITLE */

.career-title{

  margin-bottom:20px;

}



/* IMAGE */

.career-image{

  display:block;

  margin:20px auto;

  width:260px;

  border-radius:12px;
  box-shadow:0 4px 15px rgba(0,0,0,0.15);
  

}



/* TABLE */

.career-table{

  width:100%;

  border-collapse:collapse;

  margin-top:10px;

}



.career-table th{

  width:180px;

  text-align:left;

  padding:14px;

  border:1px solid #d1d5db;

  background:#fafafa;

}



.career-table td{

  padding:14px;

  border:1px solid #d1d5db;

}



/* BUTTON */

.gold-btn{

  margin-top:30px;

  padding:12px 25px;

  border:none;

  border-radius:8px;

  background:linear-gradient(
  135deg,
  #b68d2a,
  #d4af37
  );

  color:white;

  cursor:pointer;

}



/* GRID PAGE */

.library-page{

  background:#f8fafc;

  min-height:100vh;

}



.page-title{

  text-align:center;

  margin:25px;

}



.career-grid{

  display:grid;

  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

  gap:20px;

  max-width:1100px;

  margin:auto;

}



.career-card{

  background:white;

  border-radius:12px;

  padding:14px;

  text-align:center;

  cursor:pointer;

  box-shadow:0 4px 12px rgba(0,0,0,0.08);

  transition:0.2s;

}



.career-card:hover{

  transform:translateY(-6px);

}



.career-card img{

  width:100%;

  height:130px;

  object-fit:cover;

  border-radius:8px;

}