/* PAGE */
.login-page{
  min-height:100vh;
  background:white;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;

  animation: pageFadeIn 0.5s ease-in-out;
}


/* CARD */
.login-card{

  margin-top:40px;

  background:rgb(219,157,157);

  width:360px;

  padding:35px;

  border-radius:16px;

  text-align:center;

  box-shadow:0 12px 30px rgba(0,0,0,0.18);

  animation:fadeSlideUp 0.8s ease-out;

}

.login-card h1{
  margin-bottom:8px;
}

.login-card p{
  margin-bottom:20px;
}


/* INPUT */

.login-input{

  width:100%;

  padding:12px;

  margin-bottom:15px;

  border-radius:8px;

  border:1px solid #ccc;

}


/* BUTTON */

.login-btn{

  width:100%;

  padding:12px;

  border:none;

  border-radius:8px;

  cursor:pointer;

  margin-bottom:10px;

}

.student{

  background:#4f46e5;

  color:white;

}

.admin{

  background:#9aacd0;

}


/* SIGNUP TEXT */

.signup-text{

  margin-top:10px;

}

.signup-text span{

  color:#4f46e5;

  cursor:pointer;

}


/* LOGIN IMAGE */

.login-image{

  width:100%;

  height:45vh;

  overflow:hidden;

}

.login-image img{

  width:100%;
  height:100%;

  object-fit:cover;

}


/* SIGNUP PAGE */

.signup-container{

  min-height:100vh;

  display:flex;

}

.signup-image{

  width:50%;

}

.signup-image img{

  width:100%;
  height:100vh;

  object-fit:cover;

}

.signup-form{

  width:50%;

  display:flex;

  align-items:center;

  justify-content:center;

  background:#cbc5c5;

}


/* FIRST + LAST NAME */

.name-row{

  display:flex;

  gap:10px;

}


/* OR */

.divider{

  margin:15px 0;

  text-align:center;

  position:relative;

}

.divider span{

  background:rgb(219,157,157);

  padding:0 10px;

}

.divider:before{

  content:"";

  position:absolute;

  width:100%;

  height:1px;

  background:#ddd;

  left:0;

  top:50%;

  z-index:-1;

}


/* GOOGLE */

.google-btn{

  width:100%;

  padding:10px;

  border-radius:8px;

  border:1px solid #ccc;

  background:white;

  cursor:pointer;

  display:flex;

  align-items:center;

  justify-content:center;

  gap:10px;

}

.google-btn img{

  width:20px;

}


/* ANIMATION */

@keyframes fadeSlideUp{

  from{
    opacity:0;
    transform:translateY(20px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}

@keyframes pageFadeIn{

  from{
    opacity:0;
  }

  to{
    opacity:1;
  }

}